root = true

[lib/**]
ignore = true

[misc/archive/**]
ignore = true

[*.{bash,bats,sh}]
# Like shfmt -i=4
indent_style = space
indent_size = 4

binary_next_line   = true  # Like shfmt -bn
switch_case_indent = true  # Like shfmt -ci
space_redirects    = true  # Like shfmt -sr
# keep_padding       = true  # Like shfmt -kp
