# Maven target directory
/target/

# Oxygen project file
/*.xpr
!/xspec.xpr

# Eclipse project information
/.project

# Node.js
/node_modules/

# https://github.com/xspec/xspec/pull/13#issuecomment-412299372
# .idea/
# *.iml
