<h3>Deprecated properties and classes</h3>
<p>
The following URIs used in DCAT-AP release 2.x for properties have been deprecated in DCAT-AP 3.0 [[vocab-dcat-3]] in favor for the URIs within the DCAT namespace.
<ul>
<li>dct:hasVersion is replaced by dcat:hasVersion.</li>
<li>dct:isVersionOf is replaced by dcat:isVersionOf. </li>
<li>owl:versionInfo is replaced by dcat:version. </li>
</ul>
</p><p>
To identify these deprecations, a <a href="./html/shacl/deprecateduris.ttl"  >SHACL shape</a> is provided.
</p>
