<section class="informative">
  <h2>Validation of DCAT-AP</h2>

<p>
To support the check whether or not a catalogue satisfies the expressed constraints in this Application Profile, the constraints in this specification are expressed using SHACL [[shacl]].
Each constraint in this specification that could be converted into a SHACL expression has been included.
As such this collection of SHACL expressions that can be used to build a validation check for a data exchange between two systems. 
A typical use case is the harvesting of one catalogue into another.
</p><p>
It is up to the implementers of the data exchange to define the validation they expect.
Each data exchange happens within a context, and that context is beyond the SHACL expressions here.
</p><p>
For instance, it might be known that the exchanged data does not contain the details of the organisations, as they are all uniquely identified by a deferenceable URI.
In such case, the rules regarding the check of the mandatory existence of a name for each organisation is probably not relevant. 
A strict execution of the DCAT-AP SHACL expressions will raise errors, although the data is available through a different channel.
In this example, it is valid to not include this check in this validation step. 
</p><p>
The example illustrates that in order to get the right user experience of a validation process, one has to consider what is actually transferred between the systems.
And use the constraints that are in scope of the data exchange.
To assist this process the SHACL expressions are grouped in distinct files, matching already typical validation setups.
</p>

<ul>
    <li><a href="./html/shacl/shapes.ttl">shapes.ttl</a>: constraints concerning existence, domain and literal range, and cardinalities. </li>
    <li><a href="./html/shacl/range.ttl">range.ttl</a>: constraints concerning object range. </li>
    <li><a href="./html/shacl/mdr-vocabularies.shape.ttl">mdr-vocabularies.shape.ttl</a>: constraints concerning the usage of controlled vocabularies.</li>
</ul>

The first file provides for each class mentioned in DCAT-AP, and having additional properties defined, a template with the corresponding constraints. 
Class membership constraints are not present in the first file. 
These are collected in the second file.

<ul>
   <li><a href="./html/shacl/shapes_recommended.ttl">shapes_recommended.ttl</a>: constraints concerning existence of recommended properties.</li>
</ul>

In order to validate a catalogue additional data might be required to import into the validator, such as the controlled vocabularies. These have to be retrieved from the appropriate places. As support, the following files express the imports (not transitive) according to the SHACL specification, which can be loaded into the Interoperable Europe Testbed.

<ul>
    <li><a href="./html/shacl/imports.ttl">imports.ttl</a>: imports the vocabulary knowledge.</li>
    <li><a href="./html/shacl/mdr_imports.ttl">mdr_imports.ttl</a>: imports the recommended codelists.</li>
</ul>

The shacl files are configured in this instance of the Interoperable Europe testbed: <a href="https://www.itb.ec.europa.eu/shacl/dcat-ap/upload">https://www.itb.ec.europa.eu/shacl/dcat-ap/upload</a>. More information about the configured validation profiles is <a href="https://github.com/ISAITB/validator-resources-dcat-ap">https://github.com/ISAITB/validator-resources-dcat-ap</a>.

<p/>
In addition to these SHACL shapes extending the approach from DCAT-AP 2.x, the constraints are also provided in a new design where each constraint has got a unique identifier.
This new shape is addressing the request for having a design in which DCAT-AP implementers could cherry pick the constraints they want.
The shape is downloadable <a href="./shacl/dcat-ap-SHACL.ttl">here</a>.


</section>
