<section class="informative">
  <h2>Inverse properties</h2>

The W3C DCAT specification introduces for some relationships two properties which are each other's inverse. 
In general, this may lead to situations that data exchanges based on different DCAT profiles require reasoning to align. 

<p/>
To harmonise the exchange of DCAT based data and reduce the need for inference engines, 
W3C DCAT imposes <a href="https://w3c.github.io/dxwg/dcat/#inverse-properties">implementation guidelines</a> expressing a preference in use. 
The guidelines state which property must be used while the other, called the inverse,  may be used.
In a proper DCAT profile the inverse property cannot be used to replace completely the property. 

<p/>
In line with these guidelines with the objective to reduce the burden of implementers DCAT-AP will follow the W3C guidelines in a more strict way.
When a property is subject to this W3C guideline then DCAT-AP will include only the use of this property and not the inverse.
Implementers are still free to use the inverse to optimise their data management. 
<p/>
As note to this discussion: when exchanging DCAT as an RDF graph the impact of the directionality is reduced because
<ul>
<li> RDF statements are non-ordered and grouping according to directionality is more for human readibility than technically enforced. 
</li>
<li> SPARQL allows to query in any direction simply by switching the subject and object variables.
</li>
</ul>  











</section>
