<section class="informative">
  <h2>DCAT-AP ecosystem</h2>

DCAT-AP is a growing ecosystem with a large community resulting in several profiles. 
To forster the sharing of experiences and insights this section lists known DCAT-AP profiles or mappings with other approaches.

<h3>European DCAT-AP profiles</h3>
<ul>
<li> DCAT-AP: the base European profile DCAT-AP, <a href="https://semiceu.github.io/DCAT-AP/releases/3.0.1">https://semiceu.github.io/DCAT-AP/releases/3.0.1</a> </li>
<li> DCAT-AP HVD: DCAT-AP for High Value Datasets <a href="https://semiceu.github.io/DCAT-AP/releases/3.0.0-hvd/">https://semiceu.github.io/DCAT-AP/releases/3.0.0-hvd/ </a> </li>
<li> GeoDCAT-AP: DCAT-AP for geospatial datasets  <a href="https://semiceu.github.io/GeoDCAT-AP/releases/3.0.0">https://semiceu.github.io/GeoDCAT-AP/releases/3.0.0 </a> </li>
<li> StatDCAT-AP: DCAT-AP for statistical datasets  <a href="https://github.com/SEMICeu/StatDCAT-AP">https://github.com/SEMICeu/StatDCAT-AP </a> </li>
<li> Health DCAT-AP: DCAT-AP for health datasets <a href="https://healthdcat-ap.github.io/">https://healthdcat-ap.github.io/ </a> </li>
<li> Mobility DCAT-AP: DCAT-AP for mobility datasets <a href="https://mobilitydcat-ap.github.io/mobilityDCAT-AP/releases/1.1.0/index.html">https://mobilitydcat-ap.github.io/mobilityDCAT-AP/releases/1.1.0/index.html </a> </li>
</ul>  

<h3>Member State DCAT-AP profiles</h3>

We invite EU MSs to share the references to their DCAT-AP profiles. This can be done by mentioning it in our <a href="https://github.com/SEMICeu/DCAT-AP/issues">GitHub issue tracker</a>.








</section>
