<section class="informative">
  <h2>Agent Roles</h2>


<p>
The first version of DCAT Application Profile [[vocab-dcat-1]] had a single property to relate an Agent (typically, an organisation) to a Dataset.
The only such ‘agent role’ that could be expressed in that version of the profile is through the property <a href="#{{ "Dataset.publisher" | urlencode}}">publisher</a>, defined as “An entity responsible for making the dataset available”.
A second property is available in that DCAT recommendation [[vocab-dcat-1]], <a href="#{{ "Dataset.contact point" | replace(" ", "") | urlencode}}">contact point</a>, defined as “Link a dataset to relevant contact information which is provided using <a href="https://www.rfc-editor.org/rfc/rfc6350.html">vCard</a>”, but this is not an agent role as the value of this property is contact data, rather than a representation of the organisation as such.
In specific cases, for example in exchanging data among domain-specific portals, it may be useful to express other, more specific agent roles.
In such cases, extensions to DCAT-AP may be defined using additional properties with more specific meanings.
</p><p>
Two possible approaches have been discussed, particular in the context of the development of the domain-specific GeoDCAT Application Profile [[geodcat-ap]].
The first possible approach is based on the use of a predicate vocabulary that provides a set of properties that represent additional types of relationships between Datasets and Agents.
For example, properties could be defined, such as foo:owner, foo:curator or foo:responsibleParty, in addition to the use of existing well-known properties, such as dct:creator and dct:rightsHolder.
A possible source for such additional properties is the Roles Named Authority List  maintained by the Publications Office of the EU.
Other domain-specific sources for additional properties are the <a href="https://knowledge-base.inspire.ec.europa.eu/index_en">INSPIRE</a> Responsible Party roles ,<a href="https://www.loc.gov/marc/relators/relaterm.html">the Library of Congress’ MARC relators</a> and <a href="https://support.datacite.org/docs/datacite-metadata-schema-v44-recommended-and-optional-properties#:~:text=Foo%20Data%20Center-,7.a%20contributorType,-Occurrence%3A%201">DataCite’s contributor types</a>.
To enable the use of such properties, they must be defined as RDF properties with URIs in a well-managed namespace. 
<a href="https://semiceu.github.io/GeoDCAT-AP/releases/3.0.0/#agent-roles">GeoDCAT-AP has introduced a number of specific <a href="https://semiceu.github.io/GeoDCAT-AP/930/releases/3.0.0/#properties">properties</a>.
</p><p>
A second approach is based on the use of W3C’s PROV ontology [[prov-o]]  which provides a powerful mechanism to express a set of classes, properties, and restrictions that can be used to represent and interchange provenance information generated in different systems and under different contexts. In the context of work on GeoDCAT-AP, a PROV-conformant solution for expressing agent roles was agreed . This solution uses prov:qualifiedAttribution in combination with a dct:type assertion pointing to the code list for Responsible Party Role in the <a href="https://knowledge-base.inspire.ec.europa.eu/index_en">INSPIRE</a> registry. To enable the use of such types, they must be defined with URIs in a well-managed namespace. 
</p><p>
Based on the experience gained with the use of domain-specific extensions for additional ‘agent roles’ in the exchange of information about Datasets and on the requests of implementors and stakeholders, the DCAT Application Profile release 2.0.0  is extended with additional roles as proposed by DCAT Version 2 [[vocab-dcat-2]] that have proven to be useful across domains. Precisely, properties <a href="#Dataset.creator">creator</a>, <a href="#Dataset.qualifiedattribution">qualified attribution</a> and <a href="#Dataset.qualifiedrelation">qualified relation</a> have been added to <a href="#Dataset">Dataset</a> class to further facilitate relationships between datasets and agents.  
</p><p>
In the most recent DCAT Version 3 [[vocab-dcat-3]] a dedicated <a href="https://w3c.github.io/dxwg/dcat/#qualified-forms">section on the relationship with Agents</a> is provided.
The DCAT-AP guidelines for Agents Roles are conformant to this.
</p><p>
As a technical note: While both approaches represent equivalent effort for publishers of datasets and editors of the specifications overall, their governance models differ.
For the first approach using direct properties, the relationship definition occurs within the profile/extension. 
The governance is external for the second approach using codelists. This may lead to unwanted overhead, e.g. to manage mappings between the distinct codelists different profiles may use.
The impact between both is primary operational on querying the data catalogue. Direct properties support simple queries. Codelists necessitate complex queries, often extended with dynamic mapping logic between the external lists.
</p><p>
It should be noted that, even if the second approach is used in a particular implementation, the provision of information using dct:publisher for the Catalogue is still mandatory under the rules laid down in the Conformance Statement in section [[[#conformance]]], while the provision of information using dct:publisher is strongly recommended for Dataset. The provision of such information using dct:publisher will ensure interoperability with implementations that use the basic approach of DCAT-AP. As long the first approach is actively be used, the second approach is thus limited for use to a profile specific context.  
For that reason, it is recommended to use the direct properties including the ones defined by <a href="https://semiceu.github.io/GeoDCAT-AP/930/releases/3.0.0/#properties">GeoDCAT-AP</a> such as custodian, distributor, originator, principalInvestigator, processor, resourceProvider in favor of the second approach using the prov:qualifiedAttribution.
</p>
</section>
