<section class="informative">
  <h2>Support for implementation</h2>

Implementing the DCAT-AP data specification in a data exchange between two systems raises also technical questions.
<p/>

<h4>JSON-LD context file</h4>

One common technical question is the format in which the data is being exchanged. 
For DCAT-AP conformance, it is not mandatory that this happens in a RDF serialisation, but the exchanged format SHOULD be unambiguously be transformable into RDF.
For the format JSON, a popular format to exchange data between systems, DCAT-AP provides a <a href="./context/dcat-ap.jsonld">JSON-LD context file</a>. 
JSON-LD is a W3C Recommendation [[[json-ld11]]] that provided a standard approach to interpret JSON structures as RDF.
The provided JSON-LD context file can be used by implementers to base their data exchange upon, and so create a DCAT-AP conformant data exchange.
This JSON-LD context is not normative, i.e. other JSON-LD contexts are allowed to create a a conformant DCAT-AP data exchange.
<p/>
The JSON-LD context file downloadable <a href="./context/dcat-ap.jsonld">here</a>.

<p/>
<h4>Identifiers</h4>
For implementers, the requirement to being able to exchange data as RDF impacts the design of the exchange format and the data management. 
One aspect, the use of identifiers,  needs special attention as it influences the interpretation by others. 
DCAT-AP is used mostly in a harvesting network: where one catalogue harvests from other. 
By this process, the DCAT-AP metadata descriptions spread through the harvesting network. 
In contrast to "classical" data exchange patterns where by default identifiers are locally scoped to the exchange context, the RDF format implicitly assumes global, public accessible identifiers (URIs).
Harvesting enforces the latter. 
More on this identifier challenge and possible solution approaches are documented in the <a href="https://github.com/SEMICeu/DCAT-AP/blob/2.x.y-draft/releases/2.x.y/usageguide-identifiers.md">the guidelines on identifier management in DCAT-AP</a>.


<p/>
<h4>Validation</h4>
To verify if the data exchange is (technically) conformant to DCAT-AP, the exchanged data can be validated using the provided SHACL shapes. 
SHACL is a W3C Recommendation to express constraints on a RDF knowledge graph. 
The provided SHACL shapes allow to check whether an DCAT-AP catalogue expressed in a RDF serialization is valid.
As it should be possible for DCAT-AP conformance to transform the data exchange in RDF, these SHACL shapes can be used in any data exchange context.
However, likewise the use of the JSON-LD context, the provided SHACL shapes provide only a start point for implementers. 
<p/>
The shapes that can be derived from the DCAT-AP specification have the following usage limitations.
Shapes may check situations that never occur in the implemented data exchange and result in messages that confuse publishers, or they are too general and more detailed checks should be implemented. 
For example, the nature of a licence is recommended by DCAT-AP, but most DCAT-AP exchanges assume that based on the URI of the licence this information is known. 
Thus the check that a licence should have a licence type is considered often not relevant for the individual publishers. 
However they might support catalogue maintainers to guide individual publishers to use well-documented licence URIs.
The case that a title cannot be an empty string and must have a value in a specific language are examples of more detailed constraints that are not present in the provided DCAT-AP SHACL shapes.
<p/>
More on the validation and the provided SHACL shapes can be found in section [[[#validation-of-dcat-ap]]].

<p/>








</section>
