<section id="UsageGuidelines" class="informative">
<h2>General usage guidelines</h2>
<h3>Usage guide on Datasets, Distributions and Data Services</h3>
<p>
The introduction of Data Services as first class citizens in DCAT 2.0 raised questions about the usage of Data Services and Distributions. This section provides a guideline for publishers what to consider as a Distribution and what as a Data Service.
</p><p>

A first distinction between distributions and data services is their dependency on a dataset for their existence. A distribution cannot exist without its dataset. It is a specific representation of a dataset (cfr definition W3C <a href="https://w3c.github.io/dxwg/dcat/#Class:Distribution">Distribution</a>). Whereas a data service is an entity in its own right. It provides access to datasets or it provides data processing functions. The independence also holds between the distributions of a dataset, and the data service which provides access to that dataset. The distributions are not required to be the result of the data service operations. However, they may.

</p><p>
Many of the properties of distributions are file oriented (downloadURL, format, byte size, checksum, modification date, ...). The relevance of this information is reduced for data services, related information is present in a very different form and thus under different terminology. For instance, data services do and can provide format transformations, language transformations and schema transformations on request. Also the handling of trust is different. While tampering of downloadable content is detected by e.g. checksums, data services create often a trusted channel using security measures such as authentication and encryption. This reduces the need for additional trust checks on the data.

</p><p>
The difference between downloading a file or accessing the data through a service have resulted in the following guidelines:
<ul>
    <li>Datasets are the conceptual entity denoting a collection of data.</li>
    <li>Distributions are specific representations of a dataset, described with the intent to facilitate the delivery of the data as file to a reuser. The access URL (preferably download URL) will provide a simple way to obtain (download) the content of the dataset in the representation specified by the distribution. The obtained (downloaded) content is fully determined by the publisher of the distribution. Only after obtaining the data the (re)user can change the data according to its needs.</li>
    <li>Anything that has not the intent to provide a downloadable representation of a dataset is a data service. Data services offer smarter, more interactive ways to the data.</li>
</ul>

</p><p>
Orthogonal to the nature clarification of distributions and data services, there might be need for a granularity clarification between datasets and distributions. Commonly, at first sight, it is expected that all distributions of a dataset are identical in content, only differing in the representation of the data. But when considering dataset series, this interpretation seems not valid anymore. In the upcoming release of DCAT 3.0, dataset series and dataset versioning are addressed. Implementors are advised to already take this proposal into account when creating guidelines for distributions. Note that this is less an issue between datasets and data services as both are independent entities. Data services usually address the granularity by providing the necessary query interface language so that the user can get the data according its needs.

</p><p>
These guidelines will be able to capture many access patterns, corresponding to most users' expectations. However there might be cases that are more vague. In that case the DCAT(-AP) community can be questioned for a recommended approach.
</p>


<h3>Usage guide on Dataset Series</h3>
Dataset Series can be considered as message from the publisher that the data of a dataset evolves according to one or more dimensions and that this evolution is available via a collection of independent, yet closely related, datasets.
<p/>
The need for sharing this grouping explicitly is strongly use case dependent, and therefore as this will require additional metadata management effort by the publisher, the use of Dataset Series is optional.
It should fit the objectives.
For instance, if a publisher is sharing an active updated dataset accessible via an API, that provides current as historic data, then it is not mandatory to created metadata records for each snapshot per year. Only if these snapshots are created intentionally and the publisher wants to share the life cycle of them with the public, then Dataset Series come into the picture.
<p/>
In order to harmonise the use of Dataset Series, the following guidelines are to be considered:
<ul>
<li>To introduce a Dataset Series only if the publisher has the intent to manage a collection of datasets. Dataset Series with a single dataset in the collection should be avoided.
</li>
<li>Dataset Series without a dataset in the collection should be avoided. In that case, publishers should ensure that the metadata, in particular, the life cycle metadata is up to date. 
For instance, if dataset get retracted and as consequence the collection becomes empty, then publishers should consider to retract also the Dataset Series.
In case, publishers use persistent identifiers, then this should be reflected in the status of the Dataset Series.
</li>
<li>A Dataset Series is an conceptual dataset without distributions.
When interpreting a Dataset Series as a Dataset, then it is expected that the directly associated Distributions contain the data that is the union of all Datasets in the collection. 
But the presence of these Distributions raise semantical conflicts such as whether the property of the Dataset Series <code>frequency</code> refers to the update frequency of the associated Distributions or the update frequency of the collection. To avoid these semantical conflicts, it is recommended not to associate distributions with a Dataset Series.
</li>
<li>The members of a Dataset Series should be described in such a way that without the knowledge of the Dataset Series, the metadata is interpreted correctly. The existence of a dataset should not be based on the membership in a Dataset Series. The interpretation of a member with its associated Distributions and Data Services is conform the above guidelines.
</li>
<li>Whenever a Data Service is providing access to all the data of a Dataset Series, i.e. the union of all datasets in the collection of the Dataset Series, 
    then the Data Service may refer to the Dataset Series using <a href="#DataService.servesdataset">serves dataset</a>. 
    The ensures that whenever in the future the Dataset Series is extended with new Datasets the Data Service description does not need to be adapted.
    In that case the Dataset Series should also be considered as a DCAT-AP Dataset.
</li>      
<li>Keep the usage simple. Complex nesting such as Dataset Series being a member of Dataset Series, or Dataset belonging to multiple Dataset Series are to be handled with care. 
While from a data knowledge graph these nestings are feasible and not so problematic, it must be realised that these complicate the presentation on a webpage. 
Since data portal representations are the main communication from metadata owners to potential data consumers and there is no clear expectations
on how to present the members of a Dataset Series in a UI (e.g. because ordering is not imposed), DCAT-AP users may not expect from other portals which harvest and process their Dataset Series, that these are more than a collection of Datasets.
Any interpretation, such as the collection is ordered, or grouped according to time or any wellknown dimension, is a specific expectation beyond the agreemenents made in DCAT-AP. 
</li>
<li>Conceptually, a Dataset Series is a special kind of Dataset. It is recommended to apply the same metadata quality of Datasets to Dataset Series (see [[[#quick-reference]]] ). The dedicated usage guidelines for Dataset Series and the Dataset members of a Dataset Series take priority over the generic DCAT-AP Dataset guidelines.
</li>
</ul>

<p/>
In general it is expected that the members of Dataset Series are strongly connected. 
However, there are no common criteria or rules how this connection could be determined.
Usually, the shared characteristics are expressed as a data domain, e.g. the population of bees, and some evolution in space and time, e.g. in Greece for the period of 2019-2023, and published by a single publisher.
Nevertheless, other characteristics could give raise to the creation of a Dataset Series.
<p/>
The DCAT-AP working group has investigated to find and express unique characteristics of Datasets that are members of a Dataset Series. 
Over time, during the exchanges it became clear that today no consensus exists on restricting the use of Dataset Series to a more limited use.
Therefore the DCAT-AP working group has decided to retract the notion of a Dataset Member of a Dataset Series (a subclass of DCAT-AP Datasets). 
Profile builders may reintroduce this notion when they want to express specific constraints for that usage scope.
<p/>
In case the connection is very strong or the result of an automated process, versioning terminology is a natural way to express the connection between the Datasets in the Dataset Series collection.
For guidelines on expressing versioning information in DCAT-AP, consult the <a href="https://w3c.github.io/dxwg/dcat/#version-history">DCAT guidelines on versioning</a>.
As versioning is not always the most appropriate terminology, DCAT introduces properties <a href="https://w3c.github.io/dxwg/dcat/#ex-dataset-series-containment">(e.g. next, previous, inSeries, last, etc.)</a> to interconnect the Dataset Series with its members and among the members themselves. 
It is recommended to use always these properties in combination with Dataset Series, and versioning when appropriate.
<p/>
The membership in a Dataset Series may influence the (descriptive) metadata to highlight differences from other Datasets in the collection. 
For instance, a usual adaption is the addition of the release data in the title.








</section>
