<section class="informative">
<h2>High Value Datasets</h2>

<p>
In light of the growing importance of data, the European Commission has adopted an <href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138">implementing regulation</a> focused on high-value datasets on 21 December 2022 [[HVD]]. 
The ambition of the High-Value Datasets implementing regulation (HVD IR) is to improve the quality, the accessibility and use of a selective number of core datasets within the public sector.
To achieve this the HVD IR sets, among others, requirements on the metadata associated with the disclosed datasets.
These requirements can be expressed as additional constraints and usage notes on DCAT-AP and are collected in an annex dedicated to the implementation of the HVD IR [[DCAT-AP-HVD]].
</p>





</section>
